@charset "utf-8";

body {
    background:#fff;
    font: normal normal normal small/normal 'Helvetica Neue', Helvetica, Arial, default;
    color:#333;
}

a {
	color:#05C;
	text-decoration:none;
}
a:hover {color:#05C;text-decoration:underline;}

h2 {
	font-size: 1.54em;line-height:1em;margin-bottom:0.5em;
	margin:0 0 10px 0;font-size:20px;font-weight:normal;height:28px;line-height:28px;letter-spacing:-1px;text-shadow:1px 1px 0 #fff;color:#495961;font-weight:bold;
}

h3 {
	font-size: medium;
	line-height: 1.19em;
	padding-bottom: 1px;
}

.button {border:none !important;}

/* LOGO */
#logo {
	background:#1B5790;color:#E5ECF3;
}
#logo h1 {float:left;line-height:1.25em;margin:0;font-weight:bold;}
#logo h1 a {color:white;}

/* INTRO */
#intro {
	background:#E5ECF3;padding-top:13px;margin-bottom:13px;color:#1B5790;
	/**/
	background: #1A6AB9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6CA5DD), to(#1A6AB9));
	color:#eee;
}
#intro h2 {
	float:left;color:#fff;font-size: 15px;
	font-size:18px;text-shadow: rgba(0, 0, 0, 0.246094) -1px -1px 0px;
}

    /* FLASH */
    #flash {margin:0.5em;}
	.flash {padding:0.5em;margin-bottom:0.5em;background:#f4f4f4;}
    #flash_notice, #flash_success {background:#D9FFB2;color:#4C8700;}
    #flash_failure, #flash_error {color:#A03;}
    
    /* USER NAV */
    #user_nav {margin-top:0.5em;float:right;padding:0.5em;margin-right:5px;}
	#user_nav a {color:#E5ECF3;text-decoration:underline;}
	#user_nav a:hover {color:#E5ECF3;}

/* HELPERS */
.center {width:960px;margin:auto;}
form {margin-left:1em;}
.round {-moz-border-radius:0.5em;-webkit-border-radius:0.5em;border-radius:0.5em;}
.round_bottom {-moz-border-radius-bottomleft:0.5em;-moz-border-radius-bottomright:0.5em;-webkit-border-radius-bottomleft:0.5em;-webkit-border-radius-bottomright:0.5em;border-bottom-left-radius:0.5em;border-bottom-right-radius:0.5em;}
.full_list {margin:1em;}

/* ARGUMENTS */
#arguments th {text-align:center;}
#arguments tr td {width:50%;min-width:50%;max-width:50%;vertical-align:top;}
#arguments .notification {margin-right:1.5em;}
#arguments h1 {margin-bottom:0;}

/* LEFT SIDEBAR */
#left {color:#fff;}
#debate_about {background:#2B8AA3;padding:0.5em;}
#debate_about .explained {padding:0;margin:0;}
.explained {font-size:13px;}

/* RIGHT SIDEBAR */
#what_is_debatezone {background: #D9FFB2;color: #4C8700;padding:1em;margin-bottom:1em;}
#what_is_debatezone h3 {color:#444;margin-bottom:0.5em;font-size:13px;}
#what_is_debatezone a {margin-top:0.5em;display:block;}

/* CONTENT */
#content {-webkit-box-shadow: #999 0px 3px 4px;
background: white;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
}
#content form {margin-bottom:1em;}

#main {-webkit-box-shadow: #999 0px 3px 4px;
background: white;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;padding:1em 0;}

#content.span-24 {background:#EBEFF9;}

#content h1{color:#111;font-weight:bold;font-size:20px;margin:0 5px 0.5em 5px;}
#main h1{color:#111;font-weight:bold;font-size:20px;margin:0.5em;margin-top:0;}
#content h2 {margin-left:5px;margin-right:5px;margin-top:0.5em;}
#content p {margin-left:1em;}

h1.title {margin:0.5em !important;}

.options {background:#f4f4f4;color:#737373;padding:0.5em 1em;}

/* DEBATE */
.debates {list-style-type:none;margin:0 0 13px 0;padding:0;}
.debates li {margin:0;padding:0.5em;border-bottom:1px solid #e4e4e4;}
.debates li .debate_title {font-size:16px;font-weight:bold;}
.debates li .meta {}

#content .debates li {border-top:1px solid #e4e4e4;border-top-color:white;}
#content .debates li:hover {background:#EBEFF9;border-color:#6B90DA;cursor:pointer;}

#new_debate h3 {margin-left:0;}
#new_debate #sides {margin:1em 0;}

#user_sides {list-style-type:none;margin:0;padding:0;}
#user_sides .side {}

.sides {list-style-type:none;color:#444;}
.sides h2 {margin:0.5em 0 !important;}
.sides .side {background:#CBF3FB;padding:0.5em;}
.sides .side {margin:0 0 0.5em 0;display:block;}
.sides .side h3 {font-size:16px;}

#argue {background:#FFF8E7;padding:0.5em;margin:1em 1em 0 0;}

#new_base_argument {margin:0;}
#argue .sides {width:auto;}

.new_argument table tr td {vertical-align:top;}
.new_argument .side {background:#f4f4f4;border:1px solid #e4e4e4;cursor:pointer;}
.new_argument .side label {padding:5px;cursor:pointer;}
.new_argument .side.selected {background:#e4e4e4;}
.new_argument textarea {width:auto;height:auto;}

/* ARGUMENTS */
#arguments {margin:0;}
#multi_arguments {margin:0 1em;}
#user_arguments {margin:0 1em;}

.arguments {list-style-type:none;margin:0;padding:0;}
.arguments .argument {margin:1em 0;}
.arguments .arguments {margin-left:1em;}
.side_1 {padding-right:1em;}

#related_books {width:300px;}

.argument .info {
	background:#f4f4f4;border-bottom:#e4e4e4;padding:0.5em;margin-bottom:0.5em;color: #737373;
	/**/
	background: #BCBCBC -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#A7A7A7));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#A7A7A7));
	color:#555;
}
.argument .meta {}
.argument p {line-height:17px;line-height: 1.385;margin:0 0 0.5em 0 !important;}
.meta {color:#737373;line-height:1.2em;}
.meta a {color:#5077BB;}

/* FORM & ERRORS */
#error_explanation {color:#A03;}
#error_explanation ul, .errors {color:#A03;list-style-type:none;padding:0.5em;margin:0;}

.field_with_errors {display:inline;}
.field_with_errors label {color:#B60040;}
.field_with_errors input, .field_with_errors textarea {background:#FFE9E9;}

.notification {background:#FFF8E7;padding:1em;margin:1em;vertical-align:middle;}
.notification .message {
	float:left;margin-top:0.5em;
	font-size: 15px;
	margin-top: 1em;
}
.notification .button {float:right;}
.notification .spacer {padding:0.5em;float:right;}

/* USERS */
#leaderboard {margin:0 1em 1em 1em;}


.pagination {margin:1em;}

#search {float:right;margin-top:-6px;}

/* TAGS */
.tags {list-style-type:none;background:#F4F4F4;padding:0.5em;margin:1em;color:#444;}
.tags h2 {font-size:1.25em;margin:0.5em 0 !important;}
.tags a {background:#E4E4E4;padding:0.5em;font-weight:bold;margin:0.5em;display:inline-block;}
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
  
#related_debates {margin:1em;}
#related_debates h3 {margin-left:0;}

#footer {margin:2em 0.5em;padding:0 0.5em;color:#575757;}

#sidebar {padding:1em 0;}
#sidebar h3 {font-weight:bold;margin: 0px 0px 0.36em;font-size:13px;}
#sidebar ul {list-style-type:none;padding:0px 0px 0.75em 0;}
#sidebar ul li {padding: 0px 0px 0.3em;}
#sidebar ul li a {color:#05C;}

#tags_filter {list-style-type:none;margin:0;padding:0;}
#tags_filter li {padding:0;margin:0 0 1px 0;}
#tags_filter li a {display:block;background:#EBEFF9;padding:5px;}
#tags_filter li a:hover {background:#dde5f9;}
#tags_filter li.selected a {background:#6B90DA;color:white;}

#top_debates li a {font-weight:bold;}

.sort {margin:0 5px;border-bottom:1px solid #f4f4f4;}
.selected {font-weight:bold;}
.share {margin-bottom:2em;}

ul#info {list-style-type:disc;margin-left:16px;}
#cse-search-box {margin:0;}

.button {position:relative;font-size:12px;color:#333;padding:10px;background:#fafafa;border:1px solid #ddd;border-top:1px solid #fff;}
.button:hover {border:1px solid #2e63a5;color:#fff;text-decoration:none;text-shadow:0 -1px 0 #2e63a5;background:#3570b8;background:-webkit-gradient(linear,center bottom,center top,from(#3570b8),to(#5e9ae2));background:-moz-linear-gradient(90deg,#3570b8,#5e9ae2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3570b8',endColorstr='#5e9ae2');}
.button:active {border:1px solid #2e63a5;color:#fff;text-decoration:none;text-shadow:0 -1px 0 #2e63a5;background:-moz-linear-gradient(90deg,#558bcb,#336fb7);}
.button {border:1px solid #d4d4d4;color:#666;display:block;float:right;font-size:13px;font-weight:bold;line-height:15px;/*padding:10px 15px 10px 16px;*/padding:0.5em 1em;text-shadow:1px 1px 0 rgba(255,255,255,0.7);border-radius:5px;background:#ececec;background:-webkit-gradient(linear,center bottom,center top,from(#ececec),to(#f4f4f4));background:-moz-linear-gradient(90deg,#ececec,#f4f4f4);-moz-border-radius:5px;-moz-box-shadow:0 1px 0 #ececec;-webkit-box-shadow:0 1px 0 #ececec;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4f4f4',endColorstr='#ececec');}
.button.large {
	font-size:15px;padding:10px 15px 10px 16px;
	display:inline-block;padding:15px 30px;color:#bed7e1;text-shadow:-1px -1px 0 rgba(0,0,0,0.25);font-size:12px;background:#286da3;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#50b7d1',endColorstr='#286da3');background:-webkit-gradient(linear,left top,left bottom,from(#50b7d1),to(#286da3));background:-moz-linear-gradient(top,#50b7d1,#286da3);border:1px solid #51a0b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);box-shadow:0 1px 4px rgba(0,0,0,0.3);-webkit-font-smoothing:antialiased;
	color:#fff;font-size:20px;margin-bottom:0;
}
.button.large:hover {text-decoration:none;background:#328fc9;background:-webkit-gradient(linear,0% 0,0% 100%,from(#66c7e5),to(#328fc9));background:-moz-linear-gradient(-90deg,#66c7e5,#328fc9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66c7e5',endColorstr='#328fc9');}
.sign_up {float:none;text-align:center;}