<h1 class="title"><%= @user.name %></h1>
<div class="options">
	<%= link_to "arguments", arguments_user_path(@user) %> |
	<%= link_to "sides", sides_user_path(@user) %> |
	<%= link_to "debates", debates_user_path(@user) %>
</div>