<%= render :partial => "top", :locals => {:user => @user} %>

<% if @debates.size > 0 %>
	<ul id="user_debates" class="debates">
        <%= render :partial => "debates/debate", :collection => @debates %>
    </ul>
   	<%= will_paginate @debates %>
<% else %>
	<div class="notification">No debates for this user yet.</div>
<% end %>

<%= render :partial => "bottom", :locals => {:user => @user} %>