<%= render :partial => "top", :locals => {:user => @user} %>

<% if @debates.size > 0 %>
	<ul id="debates">
        <% @debates.each do |debate| %>
            <li>
                <h4><%= link_to debate.name, debate_path(debate) %></h4>
            </li>
        <% end %>
    </ul>
<% else %>
	<div class="notification">No debates for this user yet.</div>
<% end %>

<%= render :partial => "bottom", :locals => {:user => @user} %>