<%= render "shared/head" %>
<body>
    <%= render "shared/header" %>
    <%= render "shared/intro" %>    
	<div class="container">       
        <div class="span-24 last round" id="content">
            <%= yield %>
        </div>
    </div>

</body>
</html>